node_modules
dist
public
LICENSE
build
logs
coverage
.next
.turbo
.github
.vscode
*.log*
*.log
*.lock
*.yaml
*.yml
*.sh
*.svg
*rc.*
*.htm
*.html
*.md
.*ignore
*.nx
.eslint
.eslint-javascript
.eslint-presets
.eslint-react
.eslint-stylistic
.eslint-typescript
